.game-window-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-height: 100vh;
  padding-top: 0;    
}

.level-infographics {
  margin-bottom: 8px;  
  padding: 10px;    
}

.canvas {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 10px;           
}
.left-column,
.middle-column,
.right-column {
  padding: 10px;
  box-sizing: border-box;
  height: 100%;         
}

.left-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: flex-start;     
  padding: 10px;
}

.middle-column {
  flex: 2;
}

.right-column {
  flex: 1;
}