.game-window-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  padding-top: 0;      
}

.level-infographics {
  margin-bottom: 8px;  
  padding: 10px;    
}

.canvas {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 10px;           
}